.container-about{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    background-color: #0c182a;
}
.about{
    width: 70%;
    height: 90%;
    display: flex;
    margin-top: 100px;
}
.about-image{
    width: 40%;
}
.about-text{
    width: 60%;
    height: auto;
}
.about-image-row{
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-picture-jonas{
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 280px;
}
.about-info{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
ul{
    width: 40%;
}
.about-text-body-info-header{
    text-align: center;
    color: yellow;
}
.about-info-text{
    text-align: center;
    color: #fff;
    font-size: 1.1vw;
}

.about-text-header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-text-header-title{
    font-size: 1.5vw;
    margin: 0;
    color: yellow;
}
.about-text-body{
    width: 100%;
    height: auto;

}

.about-text-body-info{
    text-align: left;
    margin: 0 20 0 0;
    padding: 15px;
    color: #fff;
    font-size: 1.1vw; 
}

@media only screen and (max-device-width:901px){
    .container-about{
    }
    .about-image{
        width: 100%;
    }
    .about-image-row{
        max-height: 150px;
    }
    .about{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
.about-text-header-title{
 font-size: 18px;
}
    .about-text {
        width: 100%;
        height: auto;
        background-color: #0c182a;
    }
    .about-picture-jonas {
        border-radius: 50%;
        max-width: 130px;
    }
    .about-text-body-info{
        font-size: 16px;
        padding: 0px 35px 5px 35px;
    }
}