.portfolio-container{
    width: 100%;
    background-color: #0c182a;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.portfolio-container-header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-container-header-text{
    font-size:30px;
    color: yellow;
}

.portfolio-body{
    width: 80%;
    margin-top: 40px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio-body-row{
   width: 700px;
   border-radius: 20px 0px 20px 20px;
   display: flex;
   padding: 20px;
   background-color: #11243e;
   margin-bottom: 10px;
}
.portfolio-body-container-text{
    width: 50%;
    padding: 20px;

}
.portfolio-body-row:nth-last-child(-n+2){
    border-radius: 20px 20px 20px 20px;
    width: 90%;
}
.portfolio-body-row-header{
    height: 40px;
}
.portfolio-body-row-header-text{
    color: yellow;
    text-align: center;
    padding: 0;
    margin: 0;
}
.portfolio-body-row-info{
    height: auto;
    width: 100%;
}
.portfolio-body-row-info-text{
    color: #fff;
    margin: 0;
}
.framework-title{
    font-weight: bold;
}
.portfolio-body-row-info-text{
    font-size: 16px;
    margin-top: 20px;
    padding: 0;
}
.portfolio-body-row-img{
    width: 100%;
}
.portfolio-body-container-img{
    margin-top: 20px;
    width: 50%;
}
.portfolio-framework{
    font-style: italic;
    font-weight: normal;
}

@media only screen and (max-device-width:901px){
    .portfolio-container{
        margin-top: 135px;
        display: block;

    }
.portfolio-container-header{
    height: auto;
}
    .portfolio-body{
        width: 100%;
        margin-top: 10px;

    }
    .portfolio-container-header-text{
        margin: 0;
    }
    .portfolio-body-container-img{
        width: 100%;    
    }
    .portfolio-body-row{
        width: 100%;
        flex-wrap: wrap-reverse;
    }
    .portfolio-body-row-header{
        width: 100%;
    }
    .portfolio-body-container-text{
        width: 100%;
    }
    .portfolio-body-row-header-text{
        margin-top: 20px;
    }
    .portfolio-body-row-img{
        margin-top: 20px;
        width: 100%;
    }
    .portfolio-body-row-info{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .portfolio-body-row-info-text{
        text-align: center;
    }
    
}